[submodule "submodules/--force"]
	path = submodules/--force
	url = https://gitea.catspeed.cc/catspeed-cc/youtube-trusted-session-generator.git
[submodule "submodules/youtube-trusted-session-generator"]
	path = submodules/youtube-trusted-session-generator
	url = https://gitea.catspeed.cc/catspeed-cc/youtube-trusted-session-generator.git
